<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.mini.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="wwrapper">
      <div class="sample">
        <form class="p-3" v-if="!formDone" @submit.prevent="sendForm">
          <div class="mb-3 form-group">
            <label for="email" class="form-label">Email address</label>
            <input
              type="text"
              v-model.trim="user.email"
              class="form-control"
              id="email"
              name="email"
              ref="firstInput"
            />
          </div>

          <div class="mb-3 form-group">
            <label for="exampleFormControlInput1" class="form-label"
              >Phone</label
            >
            <input
              type="text"
              v-model="user.phone"
              class="form-control"
              id="phone"
              name="phone"
            />
          </div>

          <div class="mb-3 form-group">
            <label>Guests</label>
            <input
              type="button"
              class="btn btn-primary"
              @click="addGuest"
              value="+"
            />
          </div>

          <div class="mb-3 form-group" v-for=",i in guests">
            <label @dblclick="removeGuest(i)">Guest {{ i + 1 }}</label>
            <input type="text" v-model.trim="guests[i]" class="form-control" />
          </div>

          <hr />

          <div class="mb-3 form-group">
            <button
              type="submit"
              class="btn btn-success"
              :disabled="!formReady"
            >
              Send Data
            </button>
          </div>
        </form>

        <div v-else>
          <h2>All done!</h2>
          <table class="table table-bordered">
            <tr>
              <td>Email</td>
              <td>{{ user.email }}</td>
            </tr>

            <tr>
              <td>Phone</td>
              <td>{{ user.phone }}</td>
            </tr>

            <tr>
              <td>Guests</td>
              <td>
                <ul class="list-group">
                  <li class="list-group-item" v-for="guest in guests">
                    {{ guest }}
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            user: {
              email: '',
              phone: '',
            },
            guests: [],
            formDone: false,
          };
        },

        computed: {
          formReady() {
            return Object.values(this.user).every((val) => val.length > 0);
          },
        },

        mounted() {
          this.$refs.firstInput.focus();
        },

        methods: {
          addGuest() {
            this.guests.push('');
          },
          removeGuest(i) {
            this.guests.splice(i, 1);
          },
          sendForm(event) {
            if (this.formReady) {
              this.formDone = true;
              this.guests = this.guests.filter((g) => g.length > 0);
            }
          },
        },
      }).mount('.sample');
    </script>
  </body>
</html>
